body {
  background-image: linear-gradient(#141414, #1F274F);
  font-family: 'Roboto', monospace;
  margin: 0;
  overflow-x: hidden;
}

.circle1, .circle2, .circle3, .circle4 {
  width: 100px;
  height: 100px;
  border-radius: 300px;
  background-color: #cac4d03a;
  position: absolute;
}

.circle1 {
  top: 30px;
  left: 280px;
}

.circle2 {
  top: 180px;
  left: 50px;
}

.circle3 {
  top: 75%;
  left: 52%;
}

.circle4 {
  top: 15%;
  left: 87%;
}

.rakkas-regular {
  font-family: "Rakkas", serif;
  font-weight: 400;
}

.nova-mono-regular {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
}

.sidesection {
  width: 550px;
  height: 450px;
  background-image: linear-gradient(#cac4d0d9, #d2bf9e39);
  color: white;
  border-radius: 0 500px 500px 0;
  padding: 70px 30px;
 
}


.skills img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.project {
  background-color: #FEF7FF;
}

.card-title, .card-text {
  color: #1D1B20;
}

.contact-info {
  font-size: 1.2em;
  background-color: #fef7ff8e;
  height: 300px;
 
  
}
.contact-info i {
  font-size: 2em;
  margin-right: 15px;
}
.form-container {
  background-color: #353a57;
  padding: 20px;
  border-radius: 25px;
  width: 500px; 
  height: 500px;
  margin-left: 65%;
  color: white;
}

.form-control {
  background-color: #cac4d052;
  border-radius: 10px;
}
.btn-submit {
  background-color: #7209b7;
  color: white;
}
.nav-link:hover{
  border-bottom: 2px solid #d2bf9e;
}


/* Responsiveness*/

@media (max-width: 768px) {
  nav img {
    width: 60px;
    height: 60px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin: 0 auto;
  }

  .navbar-nav a {
    font-size: 1.2rem;
  }

  .sidesection {
    width: 100%;
    border-radius: 0;
    
  }
  .sidesection p{
    font-size: 0.8rem;
  }

  .form-container {
    width: 90%;
    margin: 0 auto;
  }

  .circle1, .circle2, .circle3, .circle4 {
    display: none; 
  }

  .d-flex.justify-content-between {
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 50%;
    height: auto;
    margin: 20px 0;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.9rem;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-nav a {
    font-size: 1rem;
  }

  .sidesection {
    width: 70%;
    border-radius: 0 300px 300px 0;
    
  }
  .sidesection p{
    font-size: 1rem;
  }

  .form-container {
    width: 80%;
    margin-left: 10%;
  }

  img  :not(.logo){
    width: 80%;
    height: auto;
  }
  .circle1, .circle2, .circle3, .circle4 {
    display: none; 
  }
  .logo{
    width: 100px;
    height: 100px;
    margin-left: 5%;
  }

  .d-flex.justify-content-between {
    flex-direction: row;
    justify-content: space-between;
  }

  .card-title {
    font-size: 1.4rem;
  }

  .card-text {
    font-size: 1rem;
  }
  .contact-info i{
    display: none;
    
  }
  .form-container {
    width: 100%;
    margin: 0% 50%;
  }
}


